*,*::before,*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.clearfix{zoom: 1;}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.row{
    max-width: 1140px; /* Setting max-width of content of row; */
    margin: 0 auto 0 auto; /* Used to center to row content */
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.596),rgba(0, 0, 0, 0.596)),url(../css/img/head-bg.jpg);
    background-size: cover;
    height: 780px;
}
.header-logo{
    width:150px;
    height: auto;
}
.header-text{
    position: absolute;
    width:40%;
    /* top:100px; */
    left:200px;
    margin-top:200px;
    color: #fff;
    font-size: 180%;

    /* transform: translate(-50%,-20%); */
}
/* a{
    font-size: 40%;
} */
.btn{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(255, 67, 9);
    border:1px solid rgb(255, 67, 9) ;
    border-radius: 10px;
    font-size: 40%;
    font-weight: 400;
}
.btn:hover{
    background-color: rgb(209, 49, 0);
    transition: background-color 2s;
}
.header-text p{
    margin-top: 10px;
    margin-bottom: 30px;
}
.nav-logo{
    /* display: inline-block; */
    /* opacity: 0; */
    margin-top: 20px;
    float: left;
    height: 20px;
    width: auto;

}
/* .navbar{
    background-color: #fff;
    height: 20px;
} */
.nav-links{
    float: right;
    margin-top: 10px;
}
.nav-links li{
    display: inline-block;
    /* float: right; */
    padding: 0px 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0s;
}
.nav-links li:hover{
    border-bottom: 2px solid rgb(255, 67, 9);
}
.nav-links li a{
    color: #fff;
    text-decoration: none;
    font-size: 60%;
    font-weight: 400;
}
.navbar{
    margin-top: 20px;
}
.perks-tickets{
    height: 250px;
    width:100%;
    background-color: orange;
}
.right-col{
    background-color: #e12b00; /*#b82300*/
    margin: 0;
    padding:0;
    width: 50%;
}
.left-col{
    background-color: #b82300;
    margin:0;
    padding:0;
    width: 50%;
}
.feature-logo{
    width: 100px;
    height: auto;
}