*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    word-spacing: 0.1em;
    font-weight: 500;
    color: white;    
    background-color: rgb(26, 26, 26);
}

.row{
    max-width: calc(100%*0.95);
    margin: 0 auto;
}
.header-content{
    /* width: 1vmax; */
    max-width: 440px;
    margin: 0 auto;
}
img{
    width: 100%;
}
header{
    height: 520px;
    background-image:linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%),linear-gradient(to left,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%), url("../img/head-bg.jpg");
    background-size: cover;
}
.logo{
    width:7.5rem;
    height: auto;
    margin-left: 1rem;
    /* float:left; */
    /* display: inline-block; */
}
.nav-buttons a{
    text-decoration: none;
}

.btn-small{
    font-size: 0.8rem;
    padding:0.3em 0.5em ;
    background-color:#e50914 ;
    color: white;
    border-radius: 0.2em;
    letter-spacing: 0.02em;

    border: 0.1em solid #e50914;
    margin-top:20px;
}
.btn-small-drop{
    font-size: 0.8rem;
    padding: 0.3em 0.5em;
    color: white;
    border-radius: 0.2em;
    letter-spacing: 0.02em;
    font-weight: 500;
    border: 0.1em solid white;
    margin-right: 0.8em;
    margin-top:20px;    
}
.btn-small-drop img{
    width: 1em;
    height: auto;
    margin-left: 5vh;
}
.nav-buttons{
    float: right;
    margin-top: 20px;
    margin-right: 5vw;
}
.nav-buttons img{
    margin: 0;
    padding: 0;
    width: 1rem;
}
.nav-buttons:first-child{
    width: 2rem;
    height: auto ;
}
.header-text{
    color: white;
    font-size:1.8rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 80px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.head-para{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.subscribe-input-wrapper{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.subscribe-input-wrapper p{
    margin-bottom: 1rem;
}
.input-wrapper input{
    height: 2.5rem;
    width: 100%;
    outline: none;
    margin-bottom: 1rem;
}
.input-wrapper input::placeholder{
    color: rgb(146, 146, 146);
    font-size: 1rem;
    padding-left: 1rem;
}
.btn-getStarted{
    display: block;
    color: white;
    text-decoration: none;
    background-color: #e50914;
    padding: .7rem .3rem;
    width: 10rem;
    margin: 0 auto;
    border-radius: 0.2rem;
    
}

.btn-getStarted img{
    height: 1.7rem; /*44/16*/
    width: 2.65rem;
    float: right;
    transform:rotate(-90deg);
    padding: 0;
    margin: 0;
}
.btn-getStarted:hover{
    background-color: #fd101c;
}
/* --------sections------- */
section{
    background-color: black;
    margin:.5rem 0rem;
    padding: 2.5rem 0rem;
    text-align: center;
}
.sec-image{
    width: 100%;
    height: auto;
}
/* -------section-enjoy--------- */
.enjoy div h2{
    font-size: 1.7rem;
    font-weight:600;
    margin: 0 0 1rem 0;
}
.enjoy p{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
}
.enjoy img{
    margin: 0;
    padding: 0;
}
/* ----------section download---------- */
.download div h2{
    font-size: 1.7rem;
    font-weight:600;
    margin: 0 0 1rem 0;
}
.download p{
    font-size: 1.1rem;
    font-weight: 500;
}
/* ----------section watch every where---------- */
.watch-everywhere div h2{
    font-size: 1.7rem;
    font-weight:600;
    margin: 0 0 1rem 0;
}
.watch-everywhere p{
    font-size: 1.1rem;
    font-weight: 500;
}
/* ----------section for kids---------- */
.for-kids div h2{
    font-size: 1.7rem;
    font-weight:600;
    margin: 0 0 1rem 0;
}
.for-kids p{
    font-size: 1.1rem;
    font-weight: 500;
}